<div class="card">
    <div class="card-body">
        <h1>Sobre nosotros</h1>
        <p>Esta pagina fue creada por los estudiantes de la carrera de Ingenieria de Software: </p>
        <p>-Arias Quispe, Alexis Enrique</p> 
        <p>-Maita Medina, Andres</p>    
        <p>-Marcos de la Torre, Renzo (alias krtelito)</p>    
        <p>-Valdivia Espino, Carlos Eduardo</p> 
        <a href="http://localhost:3000/" class="btn btn-primary btn-lg">Ir a home</a>  
    </div>
</div>