<div class="card">
    <div class="card-body">
        <h1>About us</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum laboriosam reiciendis accusamus totam, quibusdam incidunt odio ullam eveniet? Architecto, quam blanditiis? Quod provident error blanditiis laudantium unde ab aspernatur perferendis beatae sed excepturi. Accusantium quisquam saepe, hic, provident, quis rerum delectus fugiat error expedita amet ab ullam aspernatur magnam velit!</p>
    </div>
</div>