<div class="card">
    <div class="card-body">
        <h1>Compra realizada</h1>
        <p>Gracias por su preferencia. Que tenga un buen dia.</p>
        <a href="http://localhost:3000/" class="btn btn-primary btn-lg">Ir a home</a>
    </div>
</div>