    <div class="jumbotron mt-4">
    <h1 class="display-4">Registro de compras con NodeJS y MongoDB</h1>
    <p class="laed"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Error aliquid odio mollitia voluptate nesciunt, unde illum eaque. 
        Asperiores maxime repudiandae pariatur corrupti sint nostrum, ipsam eaque veritatis nam, commodi non!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Ipsum alias debitis atque repellendus maxime? Suscipit reiciendis nisi recusandae? 
        Natus veritatis asperiores ipsum tempora dolore illum necessitatibus exercitationem nisi dolor itaque.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Papi, temblor</a>
    </div>