    <div class="jumbotron mt-4">
    <h1 class="display-4">FISI Tienda de Hardware</h1>
    <p class="laed">version alfa</p>
    <hr class="my-4">
    <p>Venta de componentes hardware para computadoras. Precios accesibles de alta calidad.</p>
    <a href="http://localhost:3000/notes" class="btn btn-primary btn-lg">Realice su compra aquí</a>
    <a href="http://localhost:3000/about" class="btn btn-primary btn-lg">Acerca de</a>
    </div>