    <div class="jumbotron mt-4">
    <h1 class="display-4">Registro de compras con NodeJS y MongoDB</h1>
    <p class="laed">Para la realización de este proyecto/aplicación se usaron las herramientas NodeJS, Express y MongoDB. Actualmente se enccuentra bajo mantenimiento </p>
    <hr class="my-4">
    <p>BAJO MANTENIMIENTO</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Realice su compra aquí</a>
    </div>